{%extends 'base.html.twig'%}
{% form_theme formArticle 'bootstrap_4_layout.html.twig'%}
{% block body %}
<h1>créer votre article</h1>
{{form_start( formArticle )}}

{{form_row(formArticle.title,{'attr':{'placeholder':"titre de l'article"}})}}
{{form_row(formArticle.content,{'attr':{'placeholder':"contenu de l'article"}})}}
{{form_row(formArticle.image,{'attr':{'placeholder':"URL de l'image"}})}}
{{form_row(formArticle.category,{'attr':{'placeholder':"votre category"}})}}

<button type="submit" class="btn btn-success">
    {% if editMode %}
    enregistrer les modifications
    {% else %}
    
    Ajouter votre article
    {% endif %}
</button>

{{form_end( formArticle )}}
{% endblock %}