{%extends 'base.html.twig'%}
{% block body %}
<article>
    <h1>Tittre:{{ article.title }}</h1>
    <div class="metadata">  Ecrit le {{article.createdAt| date ('d/m/Y')}}  à {{article.createdAt | date ('H,i')}}dans la category :{{article.category.title}} </div>
    <div class="content">
        <img src={{ article.image }} >
        <br><br>
        Description: {{ article.content | raw }}
    </div>
</article>

<br><br>
<section id="commentaires">
<h3>{{article.comments | length }}  Commentaires</h3>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }}(<small>{{ comment.createdAt | date ('d/m/y à H:i')}} }</small>)
                </div>
                <div class="col">
                    {{comment.content | raw}}
                </div>
            </div>
        </div>
    {% endfor %}
    {{ form_start(commentForm)}}
    {{form_row(commentForm.author)}}
     {{form_row(commentForm.content)}}
     <button type ="submit" class="btn btn-success">commenter</button>
     {{form_end(commentForm)}}
</section>
{% endblock %}